@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* 
.header{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 50px;

}

.logo{
    width: 70px;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
}

.restaurant-card{
  width: 250px;
  border-radius: 20px;
  background-color: bisque;
  margin: 10px;
  padding: 20px;
  overflow: hidden;
}
 
.cardImage{
    width: 250px;
    height: 200px;
    border-radius: 20px;
}

.Search{
    margin-bottom: 20px;
    padding: 10px;

}

.restaurant-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    width: 250px;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(185, 185, 185);
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    overflow: hidden;
} */